<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- 国内镜像优先（解决 Docker 构建时 nuget.org 包下载超时问题） -->
    <add key="nuget.cn" value="https://nuget.azure.cn/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="local" value="./nuget-local" />
  </packageSources>
</configuration>
